.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
}

@media only screen and (max-width: 768px){
    .carousel-wrap{
        width:auto;
    }
    .owl-carousel .nav-btn {
        display: none;
    }
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}


.owl-carousel .item {
    text-align: center;
}

.owl-carousel:nth-child(2) .item .slider-card {
    margin:0 10px;
}

.owl-carousel .nav-btn {
    height: 90px;
    position: absolute;
    width: 90px;
    cursor: pointer;
    top: 35% !important;
    background-color: #FFF;
    border-radius: 50%;
    padding: 17px 8px 0px 0px;
}

.owl-carousel .nav-btn::after{
    content:"";
    border: solid #0093ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    /* background: url(nav-icon.png) no-repeat scroll 0 0; */
    left: -125px;
}

.owl-carousel .next-slide {
    /* background: url(nav-icon.png) no-repeat scroll -24px 0px; */
    right: -125px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

span.img-text:hover {
    color: #2caae1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .owl-carousel .nav-btn{
        display: none;
    }
}