@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
}

.fx {
    display: flex;
}

.fx-a-center {
    align-items: center;
}

.fx-j-center {
    justify-content: center;
}

.txt-center {
    text-align: center;
}

.txt-start {
    text-align: start;
}

.tc-primary {
    color: #474747;
}

.tc-secondary {
    color: #fff;
}

.action-links {
    color: #00f1b7;
}

.title-lg {
    font-size: 40px;
    line-height: 1.1;
}

.title-md {
    font-size: 34px;
    line-height: 1.5;
}

.title-sm {
    font-size: 30px;
    line-height: 1.5
}

.txt-xl {
    font-size: 25px;
    line-height: 1.5;
}

.txt-lg {
    font-size: 22px;
    line-height: 1.5;
}

.txt-md {
    font-size: 20px;
    line-height: 1.5;
}

.txt-sm {
    font-size: 18px;
}

.txt-f-16 {
    font-size: 16px;
}

.txt-f-14 {
    font-size: 14px;
}

.txt-f-13 {
    font-size: 13px;
}

.mr-25 {
    margin-right: 50px
}

.ml-50 {
    margin-left: 50px
}

.mt-100 {
    margin-top: 100px
}

.p-24 {
    padding: 24px
}

.a-decoration-none {
    text-decoration: none
}

.z-index-1 {
    z-index: 1;
}

.br-link {
    border: 1px solid #fff;
}

.font {
    font-family: 'Roboto', sans-serif !important;
}



/* Navbar */
header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    padding: 10px 0 !important;
    font-family: 'Roboto', sans-serif !important;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo .navbar-text {
    font-size: 34px;
    line-height: 34px;
    margin-left: 25px
}

.navbar .navbar-list {
    float: right;
}

.navbar-list .navbar-link {
    display: inline-block;
    font-size: 25px;
    margin-right: 45px;
}

.navbar-list .navbar-link:nth-child(2) {
    margin-right: 0
}

.navbar-link .navbar-list-link {
    padding: 10px 30px;
    /* border: 1px solid #fff; */
}

.navbar-link .navbar-list-link:hover{
    color: #fff;
    font-weight:700;
    transition: 0.5s;
}

.hero {
    width: 100%;
    min-height: 889px;
    background: url(assests/Healy-Hero-image.jpg);
    background-position: center center;
    background-size: cover;
}

.hero-content {
    flex-direction: column;
    min-height: 889px;
}

.hero-form input[type=text] {
    padding: 23px 0 23px 77px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-radius: 2px;
    margin-right: 2px;
}

.hero-form input[type=text]:focus {
    outline: 0;
}


.hero-form .hero-form-input1 {
    width: 264px;
    background-image: url(assests/Placeholder-Location.svg);
    background-repeat: no-repeat;
}

.hero-form .hero-form-input2 {
    width: 519px;
    background-image: url(assests/Placeholder-Hospital.svg);
    background-repeat: no-repeat;
}

.hero-form .hero-form-input3 {
    width: 436px;
    background-image: url(assests/Placeholder-insurance.svg);
    background-repeat: no-repeat;
}

.hero-form .hero-form-btn {
    width: 80px;
    padding: 23px 0;
    background-color: #0093ff;
    border: 0;
}

.hero-form .fa {
    font-size: 25px;
    color: #fff;
}

.hero-content .service {
    display: flex;
    margin-top: 100px;
    justify-content:space-between;
    width: 639px;
}

.service .service-content {
    display: inline-block;
    width: 180px;
    background-color: #fff;
    padding: 22px 24px;
    box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.34);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.features {
    padding: 50px 0 70px 0
}

.features-head {
    margin-bottom: 50px;

}

.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    ;
}

.list-img,
.list-title {
    margin-bottom: 35px
}

.list-description {
    opacity: 0.7;
    text-align: center;
}

/* Slider */
.slider {
    background-image: url("assests/hospital-corridor.jpg");
    min-height: 617px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    position: relative;
    padding: 50px 0;
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(241deg, #3ff3c3, #189bfb 119%, #189bfb -11%);
    opacity: 0.53;
}

.slider-head {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.slider-btn {
    background-color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 13px 29px 0 rgba(21, 21, 21, 0.44);
    display: inline-block;
    font-size: 65px;
    color: #0093ff;
}

.slider-btn:hover {
    text-decoration: none;
}

/* Arrow buttons */
.arrow {
    border: solid #0093ff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 520px;
    position: relative;
    z-index: 1;
}

.slider-content .slider-list {
    display: flex;

}

.slider-card {
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 22px 0 rgba(0, 0, 0, 0.41);
    margin: 0 10px;
}

.item + .slider-card{
    color: #fff;
}


.slider-card-container {
    padding: 12px;
}

.slider-card .slider-card--title {
    font-weight: 400;
    letter-spacing: 0.28px;
}

.slider-card .slider-card--description {
    letter-spacing: 0.26px;
    line-height: 1.1;
    margin-top: 10px;
}

.slider-card--info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.slider-card--info-link a {
    text-decoration: none;
    color: #13ba8e
}

/* Download */
.download {
    min-height: 642px;
    position: relative;
    background-image: linear-gradient(241deg, #3ff3c3, #189bfb 119%, #189bfb -11%);
    width: 100%;
}

.download-items {
    display: flex;
    min-height: 642px;
    /* justify-content: center; */
    align-items: center;
}

.download-items .phone {
    position: absolute;
    bottom: 0;
    left: 197px;
}

.download-content {
    margin-left: auto;
    margin-right: 150px;
}

.download-content-title,
.get-app {
    margin-bottom: 20px
}

.get-app .get-app-btn {
    display: inline-block;
}

.download form {
    display: flex;
    flex-wrap: wrap;
}

.download input[type="email"] {
    border: 0;
    padding: 16px 25px;
    margin-top: 5px;
    width: 305px;
    background-color: transparent;
    border-radius: 3px 0 0 3px;
    border: solid 1px #fff;
    box-shadow: 0 0 8px 0 rgba(177, 177, 177, 0.5);
}

/* .download input[type="submit"] {
    background-color: #fff;
    color: #0bb185;
    cursor: pointer;
    border: 0;
    padding: 20px 37px;
    margin-top: 5px;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    font-weight: bold;
} */

.download button {
    background-color: #fff;
    color: #0bb185;
    cursor: pointer;
    border: 0;
    padding: 20px 37px;
    margin-top: 5px;
    border-radius: 0 3px 3px 0;
    font-size: 16px;
    font-weight: bold;
}

.download input:focus {
    outline: none;
}

.mb-phone{
    display: none;
}

/* Footer */
footer .ft-list {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #00556b;
    color: #bbb;
    line-height: 1.5 !important;
    padding: 50px 15px !important;
}

footer .ft-list-link {
    text-decoration: none;
    color: #00f1b7;
    font-size: 22px;
    display: inline-block;
    position: relative;
}

footer .ft-list-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

footer .ft-list-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ft-title {
    padding-bottom: 10px;
}

/* Footer main */
.ft-main {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

    /* 477px */
) {
    .ft-main {
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 77.5rem

    /* 1240px */
) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-main-item {
    padding: 20px;
}

/* Footer social */
.ft-social {
    padding: 0 30px 20px;
}

.ft-social-list {
    display: flex;
    justify-content: start;

}

.ft-social-list li {
    margin: 8px;
    font-size: 20px;
}

.ft-icons .ft-icons-links {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #00556b;
    transition: transform .2s
}

.ft-icons .ft-icons-links:hover{
    transform: scale(1.2)
}

@media screen and (max-width:500px) {

    footer,
    .ft-main,
    .ft-title {
        padding: 0;
    }

    footer a {
        font-size: 15px
    }

    .ft-main {
        padding: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
    
    }
}


@media only screen and (min-width: 768px) and (max-width:1024px) {
    .slider {
        display: block
    }

    .nav-logo img {
        width: 25px
    }

    .nav-logo .navbar-text {
        font-size: 20px
    }

    .navbar-list li {
        font-size: 15px
    }

    .navbar-list li {
        margin-right: 0;
    }

    .hero-form .hero-form-input1,
    .hero-form .hero-form-input2,
    .hero-form .hero-form-input3 {
        width: 100%;
        margin-bottom: 2px;
    }

    .hero-form .hero-form-btn {
        width: 100%;
    }

    .hero-form input[type=text] {
        font-size: 15px
    }

    .hero-content .service {
        margin-top: 50px;
    }

    .list-img,
    .list-title {
        margin-bottom: 17px;
    }

    .title-sm {
        font-size: 25px
    }

    .txt-md {
        font-size: 15px
    }

    .download-items .phone {
        position: absolute;
        bottom: 0;
        left: 50px;
    }

    .download-content {
        margin-left: 430px;
    }

    .download button{
        max-width: 100%;
        width: 76%;
    }

    .mb-phone{
        display: none;
    }

}

@media only screen and (min-width: 450px) and (max-width:766px){
    .download button{
        max-width: 100%;
        width: 100%;
    }

    .title-lg {
        font-size: 30px;
        line-height: 1.1;
    }

    .get-app {
        display: flex;
        gap: 2px;
    }

    .get-app-btn img {
        width: 100%;
    }

    .navbar-list .navbar-link {
        margin-right: 0;
    }
    .download-content {
        margin: 0 auto 150px auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 320px) and (max-width:768px) {
    .mb-link{
        display:none
    }
    .navbar-list .navbar-link {
        margin-right: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width:767px) {

    .mb-link,
    .hero-content .service,
    .download-items .phone {
        display: none;
    }

    .nav-logo img {
        width: 25px
    }

    .nav-logo .navbar-text {
        font-size: 20px
    }

    .navbar-list li {
        font-size: 15px
    }

    .hero-form .hero-form-input1,
    .hero-form .hero-form-input2,
    .hero-form .hero-form-input3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-form .hero-form-btn  {
        width: 100%;
    }

    .hero-form input[type=text] {
        font-size: 20px
    }

    .features-list {
        display: block;
    }

    .download-content {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .download input[type="email"] {
        width: 100%;
    }

    .download-content-title br {
        display: none;
    }

    .mb-phone{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .title-lg {
        font-size: 26px
    }

    .get-app-btn img {
        width: 160px;
    }

    .txt-xl {
        font-size: 20px
    }

    .download button{
        max-width: 100%;
        width: 100%;
    }
    .navbar-list .navbar-link {
        margin-right: 0;
    }
}

@media screen and (max-width:390px) {
    .nav-logo .navbar-text {
        margin-left: 10px;
    }
}

@media screen and (max-width:370px) {
    .nav-logo .navbar-text {
        margin-left: 5px;
    }

    .navbar-list li {
        margin-right: 35px;
    }

    .list-img,
    .list-title {
        margin-bottom: 17px;
    }

    .title-sm {
        font-size: 25px
    }

    .txt-md {
        font-size: 15px
    }

    .get-app-btn img {
        width: 140px;
    }
}

